*{
    box-sizing: border-box;
}
:root{
    --main-color:  #10cab7;
    --color: rgb(102, 88, 88)
}
body{
    margin: 0px;
}
i{
    color: var(--main-color);
}
/* start of header */
header .main{
    display: grid;
    grid-template-columns: repeat(14 , 1fr);
    margin: 5px 0px;
} 
header .main img{
    width: 120px;
    grid-area: 1/3/2/5;
}
header .main .list{
    grid-area: 1/12/2/13;
}
header .main .list{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}
header .main .list div{
    width: 100%;
    height: 15%;
    background-color: silver;
    border-radius: 5px;
}
header .main .list div:nth-child(2){
    width: 80%;
}
@media (max-width:600px){
    header .main .list{
        grid-area: 1/11/2/13;
    }
}
.background{
    margin: 0px;
    background-image: url(../photos/images.jpeg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background .container{
    position: absolute;
}
.background h1{
    margin: 0px;
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
}
.background p{
    color: var(--color);
    width: 299px;
    text-align: center;
}
/* end of header */
/* start of nav */
nav{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
}
nav div i{
    margin-top: 20px;
    width: 100%;
    color: var(--main-color);
    text-align: center;
}
nav div h3{
    width: 100%;
    font-weight: bold;
    text-align: center;
}
nav div p{
    color: var(--color);
    text-align: center;
    margin-top: 0px;
}
nav div:hover{
    box-shadow: 2px 2px 2px 0px black;
}
@media (max-width:767px){
    nav{
        display: unset;
    }
    nav div{
        width: 100%;
    }
    nav div p{
        width: 70%;
    }
}
/* end of nav */
/* start sservicer */
article.services{
    background-color: #eee;
    padding-bottom: 40px;
}
.title h3{
    margin: 10px 0px 20px;
    color: silver;
    font-weight: 900;
    letter-spacing: -5px;
    font-size: 120px;
    text-align: center;
}
.title p{
    text-align: center;
    margin: 0px;
    transform: translatey(-60px);
    font-size: 19px;
}
@media (max-width:767px){
    .title h3{
        font-size: 90px;
    }
}
.services .info{
    width: 71%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.services .info .col div{
    display: flex;
    margin-bottom: 45px;
}
.services .info .col div span{
    margin-left: 20px;
}
.services .info .col div span h3{
    margin: 0px;
}
.services .info .col3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.services .info .col3 img{
    width: 70%;
    height: 70%;
    z-index: 1;
}
.border{
    position: absolute;
    right: 0;
    background-color: #36445a;
    width: 30%;
    height: 100%;
}
@media (max-width:900px){
    .services .info{
        grid-template-columns: 1fr;
    }
    .services .info .col div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services .info .col div span{
        text-align: center;
        margin: 0px;
    }
    .services .info .col div span h3{
        margin-top: 20px;
    }
    .services .info .col div i{
        font-size: 48px;
    }
    .services .info .col3{
        display: none;
    }
}
/* end sservicer */
/* start portofolio */
.portofolio .port-container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    perspective: 300px;
    perspective-origin: center;
}
.portofolio .port-container div{
    background-color: #eee;
    width: 25%;
    border-radius: 15px;
    overflow: hidden;
    perspective-origin: center;
    perspective: 20px;
    transition: transform .5s 0s linear , box-shadow .3s 0s linear;
}
.portofolio .port-container div:hover{
    transform: translateZ(20px);
    box-shadow: 4px 4px 6px 0 silver;
}
.portofolio .port-container div h3{
    margin: 10px 0px 0px 20px;
}
.portofolio .port-container div p{
    color: var(--color);
    margin-left: 20px;
}
.portofolio .port-container div img{
    width: 100%;
    height: 70%;
}
@media (max-width:767px){
    .portofolio .port-container{
        display: unset;
    }
    .portofolio .port-container div{
        width: 90%;
        margin-bottom: 40px;
        height: 50vh;
        margin: 0px auto 40px;
    }
    article.portofolio .title h3{
        font-size: 90px;
    }
}
.portofolio div.button{
    text-align: center;
    margin: 30px 0px 20px 0px;
}
/* end portofolio */
/* start of about */
.about .info{
    width: 70%;
    margin: 0px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2 ,1fr);
}
.about .info .col3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .info .col3 img{
    width: 50%;
    height: 70%;
    position: absolute
}
.about .info .col3::before{
    content: '';
    width: 20%;
    height: 100%;
    background-color: #eee;
    z-index: -1;
    transform: translateX(-100%);
}
.about .info .col3::after{
    content: '';
    position: absolute;
    width: 15%;
    height: 40%;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
    transform: translate(100% ,-19%);
}
.about .info .col{
    display: flex;
    flex-direction: column;
}
.about .info .col hr{
    height: 3px;
    width: 50%;
    margin: 0px;
    background-color: var(--main-color);
}
@media (max-width:900px){
    .about .info .col3::after,
    .about .info .col3::before{
        display: none;
    }
    .about .info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about .info .col{
        text-align: center;
        align-items: center;
    }
}
.ggg{
    margin-left: 15%;
    margin: auto;
}
.ggg p{
    color: #36445a;
    font-weight: bold;
    font-size: 40px;
}
.ggg .ppp a{
    margin-left: 10px;
    font-weight: 20px;
    text-decoration: none;
    color: var(--main-color);
    font-weight:bold;
}
@media (max-width:900px){
    .ggg p,
    a{
        text-align: center;
        font-size: 30px;
    }
}
.qqq{
    perspective: 200px;
}
div .test{
    width: 200px;
    height: 200px;
    background-color: #EEE;
}